{:deps    {com.datomic/dev-local         {:mvn/version "0.9.235"}
           com.datomic/datomic-free      {:mvn/version "0.9.5697"}
           lambdaisland/uri              {:mvn/version "1.4.54"}
           org.clojure/clojure           {:mvn/version "1.10.1"}
           io.pedestal/pedestal.service  {:mvn/version "0.5.9"}
           io.pedestal/pedestal.route    {:mvn/version "0.5.9"}
           io.pedestal/pedestal.immutant {:mvn/version "0.5.9"}
           org.slf4j/slf4j-simple        {:mvn/version "1.7.32"}
           environ/environ               {:mvn/version "1.2.0"}}}
