{:deps
 {com.datomic/dev-local {:mvn/version "0.9.203"}
  org.clojure/clojure {:mvn/version "1.10.1"}
  io.pedestal/pedestal.service {:mvn/version "0.5.8"}
  io.pedestal/pedestal.route {:mvn/version "0.5.8"}
  io.pedestal/pedestal.jetty {:mvn/version "0.5.8"}
  org.clojure/data.json {:mvn/version "1.0.0"}
  org.slf4j/slf4j-simple {:mvn/version "1.7.30"}
  environ {:mvn/version "1.2.0"}
  metosin/spec-tools {:mvn/version "0.10.4"}}}
